body {
    font-family: "Montserrat";
}

.colored-section {
    background-color: #ff4c68;
    color: #fff;
  }
  
  .white-section {
    background-color: #fff;
  }

/* Title Section */

.container-fluid {
    padding: 3% 15%; 
    
} 

.nav-position {
    padding-top: 1.5rem;
    
}

.brand-style {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.item-padding {
    padding: 0 18px;
  
}

.link-style {
    font-size: 1.2rem;
    
    font-weight: 300;
}

/* header*/

.header-position {
    margin-top: 15%;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: #fff; 
}

.download-button {
    margin: 5% 3% 5% 0;
}

 .title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
  }

  
@media screen and (max-width: 1360px) {
    .title-image {
        position: static;
        transform: rotate(0);
        width: 70%;
        transform: translateX(130px);
    }
}

 @media screen and (max-width: 540px) {
    .title-image {
        width: 50%;
    }
    .fixed-top{
        position: static;
    }
    h1 {
        font-size: 2.8rem;
    }
    .item-padding {
        padding: 0.5rem;
    }
    .navbar-toggler {
       position: absolute;
        right: 3rem;
    }
} 

/* Features Section */
  
#features {
    padding: 11%;
    position: relative;
    
}

h3 {
    font-size: 1.5rem;
    font-weight: 900;  
}

p  {
    color: #8f8f8f;
}

.icon {
    color: #ef8172;
   margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials Section  */

#testimonials {
    background-color: #ef8172;
    padding: 7%;
    color: #fff; 
}

h2 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    max-width: 70%;
    margin: 0 auto;
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section  */

#press {
    background-color: #ef8172;
}

.press-logo {
    width: 20%;
    margin: 50px 20px;
    padding-bottom: 2%;
}

 /* Pricing Section  */

 #pricing {
    padding: 11%;
} 

/* Cta Section */

#cta {
    padding: 5%;
}

.cta-header {
    font-weight: 900;
    font-size: 3.5rem;
    max-width: 80%;
    margin: 0 auto;
}

/* Footer Section */

#footer {
    padding: 5%;
}

.social-icon {
    margin: 20px;
    color: black;
}